{% extends 'baseLanding.html.twig' %}

{% block title %}App - Error Login{% endblock %}

{% block body %}

    {% block header %}
        {{ include('menu/navBar.html.twig', {'login_status': login_status}) }}
    {% endblock %}

    <main role="main" class="container">
        <h1 class="mt-5">Hi ha hagut un error amb la teva sessió!</h1>
        <h3 class="mt-3">Torna a la pàgina principal i torna a fer login.</h3>
    </main>1

{% endblock %}