{% extends 'baseLanding.html.twig' %}

{% block title %}App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('landing') }}
{% endblock %}

{% block body %}

    {% block header %}
        {{ include('menu/navBar.html.twig', {'login_status': login_status}) }}
    {% endblock %}

    <main role="main" class="container">
        <h1 class="mt-5">Benvingut a la Web App de la nostra empresa</h1>
    </main>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('landing') }}
{% endblock %}
